@import '../../../vars.scss';

.lyrics_header {
  margin-left: 1rem;
  margin-bottom: 1rem;
  cursor: text;
  user-select: text;

  .lyrics_header_name {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }

  .lyrics_header_artist {
    font-size: 1.2em;
    line-height: 1.2em;
    color: rgba($white, 0.6);
  }
}
