@import "../../vars.scss";

.sidebar_menu_container {
    z-index: 11;

    display: flex;
    flex: 0 0 auto;
    flex-flow: column;

    background-color: $background;
    box-shadow: 1px 2px 0px 0 rgba(255, 255, 255, 0.1);

    &.collapsed {
        width: 3rem;
        transition: 0.15s width ease-in-out;

        .sidebar_brand {
            padding: 1rem 0;
        }

        .sidebar_menu_item_container {
            display: flex;
            justify-content: center;
            padding: 1rem 0.25rem;
            font-size: 16px;

            i {
                margin: 0;
            }
        }

        .active_nav_link {
            border: none;
            background: rgba($background3, 0.6);
        }

        span {
            margin: 0 !important;
        }
    }

    .content {
        overflow: hidden;

        .logo_container {
            margin-top: 30px;
            padding: 1rem 1.75rem;

            img {
                height: 20px;
                width: 20px;
                display: inline-block;
                position: relative;
                top: 5px;
            }

            span {
                margin-left: 0.75rem;
                font-size: 13px;
            }
        }

        .category_section {
            margin-bottom: 30px;
        }
    }
}

.active_nav_link {
    .sidebar_menu_item_container {
        background-color: #282a36;
    }
}
