@import '../../vars.scss';

.navbar {
  z-index: 20;

  display: flex;
  flex-flow: row;
  align-items: center;

  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;

  background-color: $background;
  box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.1);
}
