.window_button_container {
  display: flex;
  width: 18px;
  height: 18px;
  cursor: pointer;
  color: #f8f8f2;
  flex: 0 0 auto;
  position: relative;
  right: 10px;

  i.icon {
    font-size: 14px;
  }
}


.window_button_container span {
  width: 100%;

  text-align: center;
}
