@font-face {
    font-family: 'SFMono';
    src: local('SFMono Medium'), local('SFMono-Medium'),
        url('SFMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Bold'), local('SFMono-Bold'),
        url('SFMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Regular'), local('SFMono-Regular'),
        url('SFMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

