@font-face {
    font-family: 'Spectral';
    src: local('Spectral'), local('Spectral-Regular'),
        url('Spectral-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

